body {margin:0;}

ul.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(224, 218, 218);
  position: fixed;
  top: 0;
  width: 100%;
}

li.nav-element {
  float: left;
}

.nav-element-link {
  display: block;
  color: rgb(24, 22, 22);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-element-link:hover:not(.active) {
  background-color: rgb(121, 114, 114);
}

.nav-element-link.active {
  background-color: rgb(28, 27, 27);
    color:#ffffff
}